@model List<AkademiPlus_Transportation.Models.TblEmployee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Personel Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Görsel</th>
        <th>Personel Adı</th>
        <th>Personel Soyadı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmployeeID</td>
            <td><img src="@item.Employeeimage" style="width:80px; height:50px;" /></td>
            <td>@item.EmployeeName</td>
            <td>@item.EmployeeSurname</td>
            <td><a href="/Employee/DeleteEmployee/@item.EmployeeID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Employee/UpdateEmployee/@item.EmployeeID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
    </table>
<a href="/Employee/AddEmployee/" class="btn btn-primary">Yeni Personel Kaydı</a>