<section class="w3l-main-slider banner-slider" id="home">
    <div class="slider-info banner-view banner-top1">
        <div class="container">
            <div class="banner-info header-hero-19">
                <p class="w3hny-tag">Taşınacak Ürünleriniz Bize Emanet.</p>
                <h3 class="title-hero-19">Dünyanın Her Yerine Güvenli Taşımacılık.</h3>
                <a href="about.html" class="btn btn-style btn-primary mt-4">Daha Fazlasını Gör </a>

            </div>
        </div>
    </div>
</section>
