
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <form method="post">
        <label>Kullanıcı Adı veya Email</label>
        <input type="text" required class="form-control" />
        <br />
        <label>Şifreniz</label>
        <input type="password" class="form-control" required />
        <br />
         Beni Hatırla: <input type="checkbox" />
        <br />
        <button class="btn btn-warning">Giriş Yap</button>
    </form>
</div>