
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Kategori Sayfası</h2>

<label>Kategori Adı</label>
<input type="text" class="form-control" />
<br />
<label>Kategori Açıklaması</label>
<input type="text" class="form-control" />
<br />
<button class="btn btn-info">Kaydet</button>