
@{
    Layout = null;
}

<h3>Yetenekler</h3>
<h4>Bildiğim Diller: C#, SQL, Asp.Net Core, C</h4>
<h4>Kullandığım Teknolojiler: MicroServis, N Tier, Onion, Dapper, Docker</h4>
<h5>Araçlar: Visual Studio, Vs Code, Mssql, Github, Postman</h5>

<a href="/Default/Index">Index Sayfasını Aç</a>


