
@{
    Layout = null;
}

<h2>Kimlik Kartı</h2>
<h4>Adınız: Ali</h4>
<h4>Soyadınız: Çınar</h4>
<h4>Mesleğiniz: Yazılım Mühendisi</h4>
<a href="http://www.google.com">Google</a>
<br /><br />
<a href="/Default/Index2/">Index2 Sayfası</a>
